---
---

<html lang="en">
<title>Matrix Rain</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    body {
      margin: 0;
      overflow: hidden;
      background-color: black;
    }
  </style>
</head>
<body>
  <canvas id="matrix"></canvas>

  <script type="text/javascript" src={`/webpack/assets/js/bundle.js?t=${Date.now()}`} defer></script>
</body>
</html>
